/* ===== Google Font Import - Montserrat ===== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;         
    padding: 20px 40px;
    width: 100%;
    position: relative;              
}

.header-left {
    display: flex;
    gap: 30px;
    align-items: center;
    
}

.header-center {
    position: absolute;             
    left: 50%;                      
    transform: translateX(-50%);     
    text-align: center;
    top: 65px;                       
}

.header-center .title p {
    font-weight: 300;                
    font-size: 64px;                 
    color: #333;                     
    letter-spacing: 2px;            
    margin: 0;
}

.header-right {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 35px; 
}

.header-right .logo i {
    font-size: 30px;       
    cursor: pointer;          
    color: #333;           
}



.select-menu{
    width: 200px;
    margin: 30px auto;   
}

.select-menu .select-button{
    display: flex;
    height: 55px;
    background: #ffffff;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.select-button i{
    font-size: 25px;

    transition: 0.2s;
}

/* JavaScript */
.select-menu.active .select-button i{
    transform: rotate(-180deg);
}

.select-menu .options{
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);

    display: none;
}

/* JavaScript */
.select-menu.active .options{
    display: block;
}

.options .option{
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}

.options .option:hover{
    background: #F2F2F2;
}

.option .fi, .option i{
    font-size: 18px;
    margin-right: 12px;
}

.option .option-text{
    font-size: 18px;
    color: #333;
}



.nav-links {
    display: flex;
    justify-content: center;
    gap: 30px;             
    list-style: none;      
    padding: 0;
    margin: 0;
}

.nav-links a {
    text-decoration: none; 
    color: #000000;           
    font-size: 20px;
    font-weight: 400;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #545454; 
}


main {
    margin-top: 30px;
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 80vh;        
    background-color: #f9f9f9; 
  }
  
  main img {
    width: 100%;      
    height: auto;      
    border-radius: 1px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
  }



/* ==== Footer ==== */
footer {
    display: flex;
    flex-direction: column;   
    align-items: center;
    padding: 40px 20px;
    background-color: #ffffff;
}

/* Контейнер для логотипів та ліній */
.footer-up-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;               
    margin-bottom: 30px;
    width: 100%;
}

.line {
    flex: 1;               
    height: 2px;
    background-color: #aeacac;
}

.footer-up {
    display: flex;
    gap: 25px;              
    justify-content: center;
    align-items: center;
}

.footer-up .logo i {
    font-size: 32px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer-up .logo i:hover {
    color: #545454;
    transform: scale(1.1);
}

/* Список посилань */
.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;        
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 100px;              
}

.footer-links a {
    text-decoration: none;
    color: #393838;
    font-size: 20px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #545454;
}

